<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- links for google fonts below -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Ruda:wght@400..900&display=swap" rel="stylesheet">
  <!-- below the link to add font awesome and replace social media titles with icons -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/js/all.min.js"></script>
<style>
    html{
      min-height: 100%;
    }

    /* *{
      border: thin red solid;
    } */

    body{
      min-height: 100%;
      padding-top: 40px;
      padding-bottom: 40px;
      background:#B6C197;
      color: rgba(255, 255, 255, 1.0);
      font-family: "Lucida Console",
       monospace;
    }

    .main-container{
      max-width: 350px;
      margin: auto;
    }

    .avatar-image {
      width: 128px;
      height: 128px;
      object-fit: cover;
      border-radius: 128px;
    }

    .image-row{
      margin-bottom: 20px;
      text-align: center;
    }

    .name-row{
      text-align: center;
      font-size: 20px;  
      color: white; 
      margin-bottom: 10px;
      font-family: "Ruda", serif;
      font-weight: 700;   
    }

    .social-icons-row{
      margin-bottom: 10px;
      display: flex;
      justify-content: space-around;
    }

    a{
      font-size: 12px;
      color: white;
    }

    .item{
      border: 3px white solid;
      background-color: rgba(6, 61, 25, 0.5);
      border-radius: 200px;
      padding: 5px 53px 5px 5px;
      margin-bottom: 6px;
      display: flex;
      align-items: center;
    }

    .thumbnail{
      width: 18px;
      height: 18px; 
      border-radius: 18px;
      object-fit: cover;
      margin-right: 7px;
    }

  </style>
  <head>
    <title>Link-in-bio</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
